form{
  padding: 5% 10% 5% 10%;
}
.register-title{
  text-align: center;
  font-size: 2rem;
  margin:0 0 2% 0;
}

.register-main{
  padding-top: 10%;
  padding-bottom: 5%;
}
.forgot{
  margin-top: 2rem;
}

/* landing page */
.top-item{
  background-image: url('./components/img/b.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discip{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.discip h1{
  font-size: 3rem;
  color: blanchedalmond;
}
.discip p{
  font-size: 2rem;
  text-align: center;
  color: blanchedalmond;
}
.landing-login{
  position: absolute;
  top:2% !important;
  right: 2% !important;
}
